.theme-form {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-top: 32px;
}
.theme-form__title {
  font-size: 1.25rem;
  margin: 0;
}
.form__fields {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
.theme-form__name-input {
  padding: 0.5rem;
  font-size: 1.125rem;
  border: 1px solid #d7d7e5;
  border-radius: 8px;
}

.theme-form__button {
  padding-inline: 20px;
  padding-block: 10px;
  font-size: 1rem;
  border-radius: 4px;
  margin: 0.75rem;
}
.theme-form__input-color {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  margin-top: 0.625rem;
  border: none;
}
